<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'EToys | Order Management System' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="login">
<div class="container sm:px-10">
  <div class="block xl:grid grid-cols-2 gap-4">
    <!-- BEGIN: Login Info -->
    <div class="hidden xl:flex flex-col min-h-screen">
      <div class="my-auto">
        <img alt="<%= SiteConfig.first.title || 'Ordery | developed by sukhochird'%>" class="-intro-x w-1/2 -mt-16" src="<%= SiteConfig.first.logo %>">
        <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
          <%= SiteConfig.first.title %> ADMIN PANEL
        </div>
      </div>
    </div>
    <!-- END: Login Info -->
    <!-- BEGIN: Login Form -->
    <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
      <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
          Нэвтрэх
        </h2>
        <div class="intro-x mt-2 text-gray-500 xl:hidden text-center"><%= SiteConfig.first.title %></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="intro-x mt-8">
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'intro-x login__input input input--lg border border-gray-300 block', placeholder: "Email" %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'intro-x login__input input input--lg border border-gray-300 block mt-4', placeholder: "Password" %>
          </div>
          <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
            <%= f.submit "Нэвтрэх", class: "button button--lg w-full text-white bg-theme-1 xl:mr-3 align-top" %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- END: Login Form -->
  </div>
</div>
<!-- BEGIN: JS Assets-->
<%= javascript_pack_tag 'custom' %>
<!-- END: JS Assets-->
</body>
</html>