<h2 class="intro-y text-lg font-medium mt-10">
  Ажилтны жагсаалт
</h2>
<div class="grid grid-cols-12 gap-6 mt-5">
  <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
    <a href="<%= new_user_path %>" class="button text-white bg-theme-1 shadow-md mr-2">Шинэ ажилтан бүртгэх</a>
    <div class="hidden md:block mx-auto text-gray-600">Нийт <%= @users.count %> ажилтан бүртгэлтэй байна</div>
  </div>

  <!-- BEGIN: Users Layout -->
  <% @users.each do |user| %>
    <div class="intro-y col-span-12 md:col-span-6">
      <div class="box">
        <div class="flex flex-col lg:flex-row items-center p-5">
          <div class="w-24 h-24 lg:w-12 lg:h-12 image-fit lg:mr-1">
            <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="/images/profile-6.jpg">
          </div>
          <div class="lg:ml-2 lg:mr-auto text-center lg:text-left mt-3 lg:mt-0">
            <a href="" class="font-medium"><%= user.last_name%> <%= user.first_name%></a>
            <div class="text-gray-600 text-xs mt-0.5"><%= user.role.to_s%></div>
          </div>
          <div class="flex mt-4 lg:mt-0">
            <% if user.delete_flag == 0 %>
              <a href="<%= edit_user_path(user) %>" class="button button--sm text-white bg-theme-1 mr-2">Засах</a>
              <% if user.role != 'super_admin' %>
                <a href="<%= user_path(user) %>" data-method="delete" rel="nofollow" class ="button button--sm text-gray-700 border border-gray-300 dark:border-dark-5 dark:text-gray-300">Устгах</a>
              <% end %>
            <%else %>
              хаагдсан
            <%end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- BEGIN: Users Layout -->
</div>
