<div class="col-span-12 mt-6">
  <div class="intro-y block sm:flex items-center h-10">
    <h2 class="text-lg font-medium truncate mr-5">
      Захиалга авсан бүтээгдэхүүн
    </h2>
    <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
      <button onclick="location.href='<%= orders_path %>'" class="button box flex items-center text-gray-700 dark:text-gray-300"> <i data-feather="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Захилагийн жагсаалт </button>
      <button onclick="location.href='<%= products_path %>'" class="ml-3 button box flex items-center text-gray-700 dark:text-gray-300"> <i data-feather="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Агуулхын бүртгэл </button>
    </div>
  </div>
  <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0" style="width: 100%; overflow-x: scroll">
    <table class="table table-report sm:mt-2">
      <thead style="
      position: sticky;
        top: 0;
        z-index: 99999999;
        background-color: wheat;
      ">
      <tr>
        <th class="whitespace-nowrap">Бүтээгдэхүүн</th>
        <th class="text-center whitespace-nowrap">Нийт захиалга</th>
        <th class="text-center whitespace-nowrap">Захиалсан тоо</th>
        <th class="text-center whitespace-nowrap">Ирсэн тоо</th>
        <th class="text-center whitespace-nowrap">Хүлээгдэж байгаа</th>
        <th class="text-center whitespace-nowrap">Дэлгүүрт бэлэн</th>
        <th class="text-center whitespace-nowrap">Агуулах үлдэгдэл</th>
        <th class="text-center whitespace-nowrap">Хүргэлтэнд гарсан</th>
        <th class="text-center whitespace-nowrap">Хүлээлгэж өгсөн</th>
        <th class="text-center whitespace-nowrap">Цуцалсан</th>
        <th class="text-center whitespace-nowrap">Илүү ба дүтуу бараа</th>
        <th class="text-center whitespace-nowrap">Акталсан</th>
        <th class="text-center whitespace-nowrap">Зарсан</th>
        <th class="text-center whitespace-nowrap">Зарах</th>
      </tr>
      </thead>
      <tbody>
      <% @ordered_products.each do |product| %>
        <tr class="intro-x">
          <td>
            <a href="" class="font-medium whitespace-nowrap"><%= product.name %></a>
            <div class="text-gray-600 text-xs whitespace-nowrap mt-0.5"><%= number_to_currency(product.price, unit: "₮", strip_insignificant_zeros: true)%></div>
          </td>
          <td class="text-center"><%= product.all_product %></td>
          <td class="text-center"><%= product.ordered_count %></td>
          <td class="text-center"><%= product.quantity %></td>
          <td class="text-center"><%= product.is_waiting %></td>
          <td class="text-center"><%= product.is_willing %></td>
          <td class="text-center"><%= product.is_delivery %></td>
          <td class="text-center"><%= product.is_cancelled %></td>
          <td class="text-center"><%= product.is_finish %></td>
          <td class="text-center"><%= product.quantity - product.is_willing %></td>
          <td class="text-center">-</td>
          <td class="text-center">-</td>
          <td class="text-center">-</td>
          <td>
            <% if (product.quantity.to_i - product.is_willing.to_i) > 0 %>
              <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white" onclick="sellPrd('<%= product.name %>', '<%= product.id %>','<%= product.price %>', '<%= product.quantity - product.is_willing %>')">Зарах</button>
            <% else %>
              --
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" id="sellProduct">
  <div class="modal__content">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200 dark:border-dark-5">
      <h2 class="font-medium text-base mr-auto">Бэлэн бараа зарах</h2>
    </div>
    <div class="p-5 grid grid-cols-12 gap-4 gap-y-3">
      <div class="col-span-12 sm:col-span-12"><label>Барааны нэр</label>
        <input type="text" id="sell_product" required value="" class="input w-full border mt-2 flex-1" placeholder="Барааны нэр" readonly>
      </div>
      <input type="hidden" id="product_id" value="">
      <div class="col-span-12 sm:col-span-12"><label>Боломжит үлдэгдэл</label>
        <input type="number" id="potential_balance" required  value="1" class="input w-full border mt-2 flex-1" placeholder="Боломжит үлдэгдэл" readonly>
      </div>
      <div class="col-span-12 sm:col-span-12"><label>Зарах тоо ширхэг</label>
        <input type="number" id="sell_quantity" required min="1" value="1" class="input w-full border mt-2 flex-1" placeholder="Тоо ширхэг">
      </div>
      <div class="col-span-12 sm:col-span-12"><label>Зарах үнэ</label>
        <input type="number" id="sell_price" required min="1" value="1" class="input w-full border mt-2 flex-1" placeholder="Зарах үнэ">
      </div>
    </div>
    <div class="px-5 py-3 text-right border-t border-gray-200 dark:border-dark-5">
      <button type="button" data-dismiss="modal" class="button w-20 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Болих</button>
      <button type="button" class="button w-20 bg-theme-1 text-white" id="submit_sellProduct">Зарах</button>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

    function sellPrd(product_name, product_id, sell_price, potential_balance){
        console.log(product_name)
        cash("#sell_product").val(product_name)
        cash("#sell_price").val(sell_price)
        cash("#product_id").val(product_id)
        cash("#potential_balance").val(potential_balance)
        cash("#sellProduct").modal("show");
    }

    $("#submit_sellProduct").click(function(){
        $.ajax({
            url: "/product_report/sell",
            type: "POST",
            data:{
                sell_quantity: $("#sell_quantity").val(),
                sell_price: $("#sell_price").val(),
                product_id: $("#product_id").val(),
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            success: function(data) {
                cash("#sellProduct").modal("hide");
                Toastify({
                    text: "Барааг амжилттай зарлаа",
                    duration: 3000,
                    newWindow: true,
                    close: true,
                    gravity: "bottom",
                    position: "right",
                    backgroundColor: "#91C714",
                    stopOnFocus: true,
                }).showToast();
            },
            error: function(data){
                alert(data.message)
            }
        });

    });

</script>