<%= form_with model: @order, local: true do |f| %>
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
      <div class="col-span-12 lg:col-span-12 mt-5">
        <div class="intro-y box p-5">
          <div class="mt-3">
            <div class="grid grid-cols-12 gap-2">
              <div class="col-span-3">
                <label>ID</label>
                <input class="input w-full border mt-2" value="<%= @client.id %>" disabled>
              </div>
              <div class="col-span-3">
                <label>Утасны дугаар</label>
                <input class="input w-full border mt-2" value="<%= @client.phone_number %>" disabled>
              </div>
              <div class="col-span-3">
                <label>И-Мэйл</label>
                <input class="input w-full border mt-2" value="" disabled>
              </div>
              <div class="col-span-3">
                <label>Бүртгүүлсэн огноо</label>
                <input class="input w-full border mt-2" value="<%= @client.created_at.strftime('%Y-%m-%d %H:%M:%S') %>" disabled>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <label>Хүргүүлэх хаяг (<% if @client.is_delivery_to_home %> <span class='text-theme-12 font-medium'>Хүлээгдэж байгаа</span><% end %>)</label>
            <%= f.text_area :address, class: "input w-full border mt-2", placeholder: 'Хүргүүлэх хаяг', :rows => 4 %>
          </div>
          <button id="change_address" class="button button--sm mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white">Хаяг өөрчлөх</button>
          <div class="w-full border-t border-gray-200 dark:border-dark-5 border-dashed mt-3 mb-3"></div>
          <div class="overflow-x-auto">
            <table class="table" id="product-table">
              <thead>
              <tr>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Order ID</th>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Бүтээгдэхүүн</th>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">нэгж үнэ</th>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">тоо ширхэг</th>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">нийт</th>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">карго</th>
                <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">төлөв</th>
              </tr>
              </thead>
              <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td class="border">
                    <% if product.status == IS_DELIVERY || product.status == IS_WAITING || product.status == IS_FINISH %>
                        -
                    <% else %>
                      <input type="checkbox" name="product_ids" value="<%= product.product_id %>"><%= product.product_id %>
                    <% end %>
                  </td>
                  <td class="border"><a href="/orders/<%= product.order_id %>" class="text-theme-1 block font-normal" target="_blank"><%= product.order_id %></a></td>
                  <td class="border"><%= product.name %></td>
                  <td class="border"><%= number_to_currency(product.actual_price, unit: "₮ ", strip_insignificant_zeros: true) %></td>
                  <td class="border"><%= product.quantity %></td>
                  <td class="border"><%= number_to_currency(product.actual_price.to_i * product.quantity.to_i, unit: "₮ ", strip_insignificant_zeros: true) %></td>
                  <td class="border"><%= number_to_currency(product.cargo_price, unit: "₮ ", strip_insignificant_zeros: true) %></td>
                  <td class="border">
                    <% if product.status == IS_WAITING %>
                      <span class='text-theme-12 block font-medium'>Хүлээгдэж байгаа</span>
                    <% elsif product.status == IS_WILLING %>
                      <span class='text-theme-6 block font-medium'>Бараа ирсэн</span>
                    <% elsif product.status == IS_DELIVERY %>
                      <span class='text-theme-1 block font-medium'>Хүргэлтэнд гарсан</span>
                    <% elsif product.status == IS_FINISH %>
                      <span class='text-theme-9 block font-medium'>Хүлээлгэж өгсөн</span>
                    <% end %>
                  </td>
                </tr>
              <%end %>

              </tbody>
            </table>
          </div>
          <div class="w-full flex mt-3">
            <button id="delivery_submit" class="button mr-2 mb-2 flex items-center justify-center bg-theme-9 text-white">
              <i data-feather="truck" class="w-4 h-4 mr-2"></i> Хүргэлтэнд гаргах
            </button>

            <button id="delivery_submit" class="button mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white">
              <i data-feather="shopping-cart" class="w-4 h-4 mr-2"></i> Бараа хүлээлгэн өгөх
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="col-span-12 xxl:col-span-3 xxl:border-l border-theme-5 -mb-10 pb-10">
      <div class="xxl:pl-6 grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-6 xl:col-span-4 xxl:col-span-12">
          <div class="mt-5">
            <div id="printcontent">
              <div class="box intro-y p-3">
                <img src="/images/logo.png" alt="Playhouse" class="mb-5">
                <div class="font-medium"># <%= @client.id %> </div>
                <div class="w-full border-t border-gray-200 dark:border-dark-5 border-dashed"></div>
                <div class="font-medium">Захиалагч: <%= @client.phone_number %></div>
                <div class="w-full border-t border-gray-200 dark:border-dark-5 border-dashed"></div>
                <div class="font-medium">Хаяг: <%= @client.address %></div>
                <div class="w-full border-t border-gray-200 dark:border-dark-5 border-dashed"></div>
                <div class="font-medium">Огноо: <%= DateTime.now.strftime('%Y-%m-%d %H:%M:%S') %></div>
                <div class="font-medium mt-3 mb-3">Бүтээгдэхүүн</div>
                <% @delivered_product.each do |product| %>
                  <div class="font-medium"><%= product.name %> <%= number_to_currency(product.actual_price, unit: "₮", strip_insignificant_zeros: true) %>*<%= product.quantity %>=<%= number_to_currency(product.actual_price.to_i * product.quantity.to_i, unit: "₮ ", strip_insignificant_zeros: true) %></div>
                  <div class="w-full border-t border-gray-200 dark:border-dark-5 border-dashed"></div>
                <% end %>
                <%= number_to_currency(@total_cargo_price, unit: "₮", strip_insignificant_zeros: true) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(function () {
          // window.print();
          $("#change_address").hide();
          var oldVal = "";
          $("#address").on("change keyup paste", function() {
              var currentVal = $(this).val();
              if(currentVal == oldVal) {
                  return; //check to prevent multiple simultaneous triggers
              }
              oldVal = currentVal;
              $("#change_address").show();
          });

          $("#change_address").click(function(){
              if($("#address").val() > 0){
                  $.ajax({
                      url: "/orders/add_cargo",
                      type: "POST",
                      data:{
                          address: $('#address').val(),
                      },
                      beforeSend: function (xhr) {
                          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                      },
                      success: function(data) {
                          Toastify({
                              text: "хэрэглэгчийн хаяг амжилттай өөрчиллөө",
                              duration: 3000,
                              newWindow: true,
                              close: true,
                              gravity: "bottom",
                              position: "right",
                              backgroundColor: "#91C714",
                              stopOnFocus: true,
                          }).showToast();
                      },
                      error: function(data){
                          alert(data.message)
                      }
                  });
              }
              else{
                  Toastify({
                      text: "Хэрэглэгчийн хаяг оруулна уу",
                      duration: 3000,
                      newWindow: true,
                      close: true,
                      gravity: "bottom",
                      position: "right",
                      backgroundColor: "#D32929",
                      stopOnFocus: true,
                  }).showToast();
                  return
              }
          });

          $("#delivery_submit").click(function(event){
              event.preventDefault();

              var orderDetailIDs = [];

              $("#product-table input:checkbox:checked").map(function(){
                  orderDetailIDs.push($(this).val());
              });

              $.ajax({
                  url: "/orders/set_delivery",
                  type: "POST",
                  data:{
                      orderDetailIDs: orderDetailIDs,
                  },
                  beforeSend: function (xhr) {
                      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                  },
                  success: function(data) {
                      Toastify({
                          text: "Хүргэлтэнд бүргэгдлээ",
                          duration: 3000,
                          newWindow: true,
                          close: true,
                          gravity: "bottom",
                          position: "right",
                          backgroundColor: "#91C714",
                          stopOnFocus: true,
                      }).showToast();
                  },
                  error: function(data){
                      alert(data.message)
                  }
              });

              console.log(orderDetailIDs);
          });


      });

  </script>

<% end %>