<!DOCTYPE html>
<html lang="en" class="light">
<head>
  <title><%= @page_title || 'Ordey | Order Management System' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="app">
<% if @clients.present? %>
  <!-- BEGIN: Mobile Menu -->
  <div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
      <a href="" class="flex mr-auto">
        <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="/images/logo.svg">
      </a>
      <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">
      <li>
        <a href="/" class="menu menu--active">
          <div class="menu__icon"> <i data-feather="home"></i> </div>
          <div class="menu__title"> Dashboard </div>
        </a>
      </li>
    </ul>
  </div>
  <!-- END: Mobile Menu -->

  <!-- BEGIN: Top Menu -->
  <nav class="top-nav">
    <ul>
      <li>
        <a href="#" class="top-menu top-menu--active">
          <div class="top-menu__icon"> <i data-feather="home"></i> </div>
          <div class="top-menu__title"> Dashboard </div>
        </a>
      </li>
    </ul>
  </nav>
  <!-- END: Top Menu -->
  <!-- BEGIN: Content -->
  <div class="content">
    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
      <div class="flex flex-col lg:flex-row border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
        <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
          <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
            <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="/images/profile-10.jpg">
          </div>
          <div class="ml-5">
            <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg"><%= @clients.phone_number %></div>
            <div class="text-gray-600">Хэрэглэгч</div>
          </div>
        </div>
        <div class="mt-6 lg:mt-0 flex-1 dark:text-gray-300 px-5 border-l border-r border-gray-200 dark:border-dark-5 border-t lg:border-t-0 pt-5 lg:pt-0">
          <div class="font-medium text-center lg:text-left lg:mt-5">Хэрэглэгчийн мэдээлэл</div>
          <div class="flex flex-col justify-center items-center lg:items-start mt-4">
            <div class="truncate sm:whitespace-normal flex items-center"> <i data-feather="mail" class="w-4 h-4 mr-2"></i> E-Mail хаяг холбоогүй байна </div>
            <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-feather="facebook" class="w-4 h-4 mr-2"></i> Facebook хаяг холбогдоогүй байна </div>
          </div>
        </div>
        <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-gray-200 dark:border-dark-5 pt-5 lg:pt-0">
          <div class="text-center rounded-md w-20 py-3">
            <div class="font-medium text-theme-1 dark:text-theme-10 text-xl"><%= @orders.count %></div>
            <div class="text-gray-600">Захиалга</div>
          </div>
          <div class="text-center rounded-md w-20 py-3">
            <div class="font-medium text-theme-1 dark:text-theme-10 text-xl"><%= @products.length %></div>
            <div class="text-gray-600">Бараа</div>
          </div>
          <div class="text-center rounded-md w-20 py-3">
            <div class="font-medium text-theme-1 dark:text-theme-10 text-xl"><%= @deliveries.length %></div>
            <div class="text-gray-600">Хүргэлт</div>
          </div>
        </div>
      </div>
      <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
        <a data-toggle="tab" data-target="#profile" href="javascript:;" class="py-4 sm:mr-8 flex items-center active"> <i class="w-4 h-4 mr-2" data-feather="user"></i> Профайл </a>
        <a data-toggle="tab" data-target="#transaction" href="javascript:;" class="py-4 sm:mr-8 flex items-center"> <i class="w-4 h-4 mr-2" data-feather="file-text"></i> Шилжүүлгийн мэдээлэл </a>
        <a data-toggle="tab" data-target="#delivery" href="javascript:;" class="py-4 sm:mr-8 flex items-center"> <i class="w-4 h-4 mr-2" data-feather="truck"></i> Хүргэлтийн мэдэлээл </a>
      </div>
    </div>
    <!-- END: Profile Info -->
    <div class="tab-content mt-5">
      <div class="tab-content__pane active" id="profile">
        <div class="intro-y box col-span-12 lg:col-span-6">
          <div class="flex items-center px-5 py-5 sm:py-0 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto lg:p-3">
              Үндсэн хаяг
            </h2>
          </div>
          <div class="p-5">
            <div>
              <div class="mt-0.5 text-gray-600 dark:text-gray-600">Та бараагаа хүргүүлж авах бол ДҮҮРЭГ, ХОРОО гэрийн хаяг тодорхой бичээрэй.</div>
              <div class="mt-0.5 text-gray-600 dark:text-gray-600">Анхааруулга: Та барааныхаа төлөвийг сайн хараарай. Ирсэн бараа л хүргэлтэнд гарна.</div>
            </div>
            <div class="modal" id="address-alert">
              <div class="modal__content relative"> <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>
                <div class="p-5 text-center"> <i data-feather="alert-triangle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                  <div class="text-3xl mt-5">Анхаар</div>
                  <div class="text-gray-600 mt-2">Та үндсэн гэрийн хаягаа оруулснаар системийг цааш ашиглах боломжтой болно.</div>
                </div>
                <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
              </div>
            </div>
            <textarea class="input w-full border mt-2" placeholder="Гэрийн хаягаа энд бичнэ үү!" rows="4" name="address" id="address"><%= @clients.address %></textarea>
            <div class="flex flex-col sm:flex-row mt-2">
              <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2">
                <input type="radio" class="input border mr-2" id="1" name="is_delivery_to_home" value="1" <% if @clients.is_delivery_to_home == true %>checked<% end %>>
                <label class="cursor-pointer select-none" for="1">Гэртээ хүргүүлж авах</label>
              </div>
              <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2 mt-2 sm:mt-0">
                <input type="radio" class="input border mr-2" id="0" name="is_delivery_to_home" value="0" <% if @clients.is_delivery_to_home == false %>checked<% end %>>
                <label class="cursor-pointer select-none" for="0">Агуулахаас ирж авах</label>
              </div>
            </div>
            <button class="button button--sm w-full xl:w-32 text-white bg-theme-1 xl:mr-3 align-top mt-2" id="update_address_btn">Хадгалах</button>
          </div>
        </div>
        <div class="intro-y box col-span-12 lg:col-span-6 mt-5">
            <div class="flex items-center px-5 py-5 sm:py-0 border-b border-gray-200 dark:border-dark-5">
              <h2 class="font-medium text-base mr-auto lg:p-3">
                Барааны мэдээлэл
              </h2>
            </div>
            <div class="p-5">
              <% @products.each.each_with_index do |product, counter| %>
                <div class="flex items-center <% unless counter==0 %>mt-5<% end %>">
                  <div class="border-l-2 border-theme-1 pl-4">
                    <a href="" class="font-medium"><%= product.name %> <%= product.order_detail_id %> (<%= product.quantity %>ш)</a>
                    <div class="text-gray-600">
                      <% if product.status == IS_WAITING %>
                        <span class="text-theme-12">Хүлээгдэж байгаа</span>
                      <% elsif product.status == IS_WILLING %>
                        <span class="text-theme-1">Бараа ирсэн байна</span>
                      <% elsif product.status == IS_DELIVERY %>
                        Хүргэлтэнд бүртгэгдсэн
                      <% elsif product.status == IS_FINISH %>
                        Хүлээлгэж өгсөн
                      <% elsif product.status == IS_CANCELED %>
                        Цуцалсан
                      <% end %>
                    </div>
                    <div class="text-gray-600">Үнэ: <%= number_to_currency(product.actual_price, unit: "₮ ", strip_insignificant_zeros: true) %> x <%= product.quantity %> = <%= number_to_currency(product.actual_price.to_i * product.quantity.to_i, unit: "₮ ", strip_insignificant_zeros: true) %></div>
                    <!--<div class="text-gray-600">Үнэ: <%#= number_to_currency(product.transition_amount, unit: "₮ ", strip_insignificant_zeros: true) %></div>-->
                    <div class="text-gray-600">Карго: <%= number_to_currency(product.cargo_price, unit: "₮ ", strip_insignificant_zeros: true) %></div>
                  </div>
                  <% if product.status == IS_WILLING %>
                    <input class="input  ml-auto border" type="checkbox" checked name="order-detail" data-order="<%= product.order_detail_id %>">
                  <% end %>
                </div>
              <% end %>
              <div class="w-full flex justify-center border-t border-gray-200 dark:border-dark-5 mt-10">
                <div class="bg-white dark:bg-dark-3 px-5 -mt-3 text-gray-600">Хүргэлтийн захиалга өгөх</div>
              </div>
              <% if @clients.address.present? || @clients.address != "" %>
                <div class="mt-5">
                  <select class="input input--lg w-full border mr-2" id="delivery_addr_type">
                    <option value="0">Үндсэн хаяг дээр хүргүүлэн авах</option>
                    <option value="1">Өөр хаяг дээр хүргүүлэн авах</option>
                  </select>
                </div>
                <textarea class="input w-full border mt-3" placeholder="Та хүргүүлэн авах хаягаа энд бичнэ үү!" rows="4"  id="delivery_address"><%= @clients.address %></textarea>
                <div class="mt-3">
                  <div class="relative w-full">
                    <p class="text-xs px-1 bg-theme-6 text-white mr-1">Хөл хориотой холбоотойгоор хүргэлтийн ачаалал их байгаа тул 2 өдөртөө таны хүргэлт очно</p>
                    <!--                  <div class="absolute rounded-l w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600 dark:bg-dark-1 dark:border-dark-4"> <i data-feather="calendar" class="w-4 h-4"></i> </div> <input type="text" class="datepicker input pl-12 border" data-single-mode="true">-->
                  </div>
                </div>
                <button class="button button--sm w-full xl:w-auto text-white bg-theme-1 xl:mr-3 align-top mt-2" id="create_delivery_btn">Хүргэлтийн захиалга өгөх</button>
              <% else %>
                Та үндсэн хаягаа оруулсаны дараа хүргэлтийн захиалга өгөх боломжтой болно
              <% end %>
            </div>
        </div>
      </div>
      <div class="tab-content__pane" id="transaction">
        <div class="intro-y box col-span-12 lg:col-span-6 mt-5">
          <div class="flex items-center px-5 py-5 sm:py-0 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto lg:p-3">
              Шилжүүлгийн мэдээлэл
            </h2>
          </div>
          <div class="p-5">
            <% @orders.each.each_with_index do |order, counter| %>
              <div class="flex items-center <% unless counter==0 %>mt-5<% end %>">
                <div class="border-l-2 border-theme-1 pl-4">
                  <a href="" class="font-medium"><%= order.account_number %> данснаас <span><%= number_to_currency(order.amount, unit: "₮", strip_insignificant_zeros: true) %></span> төгрөгийг <%= order.transition_date %> -д шилжүүлсэн</a>
                  <div class="text-gray-600">
                    <span class="font-bold">Гүйлгээний утга:</span> <%= order.description %>
                  </div>
                  <div class="text-gray-600">
                    <span class="font-bold">Бүртгэсэн огноо:</span> <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-content__pane" id="delivery">
        <div class="intro-y box col-span-12 lg:col-span-6 mt-5">
          <div class="flex items-center px-5 py-5 sm:py-0 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto lg:p-3">
              Хүргэлтийн мэдээлэл
            </h2>
          </div>
          <div class="p-5">
            <% @deliveries.each.each_with_index do |delivery, counter| %>
              <div class="flex items-center <% unless counter==0 %>mt-5<% end %>">
                <div class="border-l-2 border-theme-1 pl-4">
                  <a href="" class="font-medium"><%= delivery.phone_number %></a>
                  <div class="text-gray-600">
                    <span class="font-bold">Хаяг:</span> <%= delivery.address %>
                  </div>
                  <div class="text-gray-600">
                    <span class="font-bold">Хүргэлтийн хөлс:</span> 4,000
                  </div>
                </div>
              </div>

              <div class="flex items-center mt-4">
                <div class="w-2 h-2 <% if delivery.status == 0 %>bg-theme-9<% else %>bg-theme-11<% end %> rounded-full mr-3"></div>
                <span>Хүлээгдэж байгаа <% if delivery.status == 0 %>(<%= delivery.updated_at.strftime('%Y-%m-%d %H:%M') %>)<% end %></span>
                <div class="h-px flex-1 border border-r border-dashed border-gray-300 mx-3 xl:hidden"></div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-2 h-2 <% if delivery.status == 1 %>bg-theme-9<% else %>bg-theme-11<% end %> dark:bg-theme-10 rounded-full mr-3"></div>
                <span>Бараа хүргэлтэнд бэлтгэсэн <% if delivery.status ==12 %>(<%= delivery.updated_at.strftime('%Y-%m-%d %H:%M') %>)<% end %></span>
                <div class="h-px flex-1 border border-r border-dashed border-gray-300 mx-3 xl:hidden"></div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-2 h-2 <% if delivery.status == 2 %>bg-theme-9<% else %>bg-theme-11<% end %> dark:bg-theme-10 rounded-full mr-3"></div>
                <span>Хүргэлтэнд замдаа гарсан <% if delivery.status == 2 %>(<%= delivery.updated_at.strftime('%Y-%m-%d %H:%M') %>)<% end %></span>
                <div class="h-px flex-1 border border-r border-dashed border-gray-300 mx-3 xl:hidden"></div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-2 h-2 <% if delivery.status == 3 %>bg-theme-9<% else %>bg-theme-11<% end %> rounded-full mr-3"></div>
                <span>Бараа хүргэгдсэн <% if delivery.status == 3 %>(<%= delivery.updated_at.strftime('%Y-%m-%d %H:%M') %>)<% end %></span>
                <div class="h-px flex-1 border border-r border-dashed border-gray-300 mx-3 xl:hidden"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Content -->
  <%= javascript_pack_tag 'custom' %>

  <%# unless @clients.address.present? %>
<!--    <script type="text/javascript" charset="utf-8">-->
<!--        cash('#address-alert').modal('show');-->
<!--    </script>-->
  <%# end %>

  <script>
      $("#update_address_btn").click(function () {
          var url = window.location.pathname;
          var phone_number = url.substring(url.lastIndexOf('/') + 1);
          $.ajax({
              url: "/home",
              type: "PUT",
              data: {
                  is_delivery_to_home: $("input[name=is_delivery_to_home]:checked").val(),
                  phone_number: phone_number,
                  address: $('textarea#address').val()
              },
              beforeSend: function (xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              },
              success: function (data) {
                  Toastify({
                      text: "Хаяг амжилттай орууллаа",
                      duration: 3000,
                      newWindow: true,
                      close: true,
                      gravity: "bottom",
                      position: "right",
                      backgroundColor: "#0e2c88",
                      stopOnFocus: true,
                  }).showToast();
                  location.reload();
              },
              error: function (data) {
                  alert("error");
              }
          });
      });

      $('#delivery_addr_type').change(function() {
          console.log($(this).val())
          if($(this).val()==='1'){
              $("#delivery_address").text("")
          }else if ($(this).val()==='0'){
              $("#delivery_address").text($("#address").val())
          }
      });

      $("#create_delivery_btn").click(function () {
          var orderDetailIDs = [];
          $("input:checkbox[name='order-detail']").each(function(){
              orderDetailIDs.push($(this).data("order"))
          })
          var address = $("#delivery_address").val();
          var phone_number = "<%= @clients.phone_number %>"

          $.ajax({
              url: "/home/set_delivery_client",
              type: "POST",
              data: {
                  orderDetailIDs: orderDetailIDs,
                  phone_number: phone_number,
                  address: address
              },
              beforeSend: function (xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              },
              success: function (data) {
                  Toastify({
                      text: "Таны хүргэлт баталгаажлаа. Хөл хориотой холбоотойгоор хүргэлтийн ачаалал их байгаа тул 2 өдөртөө таны хүргэлт очно",
                      duration: 10000,
                      newWindow: true,
                      close: true,
                      gravity: "bottom",
                      position: "right",
                      backgroundColor: "#0e2c88",
                      stopOnFocus: true,
                  }).showToast();
                  location.reload();
              },
              error: function (data) {
                  Toastify({
                      text: "Зөвхөн бэлэн байгаа бараа хүргэлтэнд бүртгэх боломжтой.",
                      duration: 10000,
                      newWindow: true,
                      close: true,
                      gravity: "bottom",
                      position: "right",
                      backgroundColor: "#D32929",
                      stopOnFocus: true,
                  }).showToast();
              }
          });

      });
  </script>
<% else %>
<span style="color: white">
  Утасны дугаар болон pin code оо шалгана уу
</span>
<% end %>
</body>
</html>
