<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Affan - PWA Mobile HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#0134d4">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>Big Mall Үйлдвэрийн бараа бөөний үнээр-Захиалгын бараа ✅✅✅</title>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" href="/mobile/img/demo-img/favicon.ico">
  <link rel="apple-touch-icon" href="/mobile/img/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/mobile/img/icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/mobile/img/icons/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/mobile/img/icons/icon-180x180.png">
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/mobile/css/bootstrap.min.css">
  <link rel="stylesheet" href="/mobile/css/animate.css">
  <link rel="stylesheet" href="/mobile/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/mobile/css/font-awesome.min.css">
  <link rel="stylesheet" href="/mobile/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/mobile/css/magnific-popup.css">
  <link rel="stylesheet" href="/mobile/css/ion.rangeSlider.min.css">
  <link rel="stylesheet" href="/mobile/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/mobile/css/apexcharts.css">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="/mobile/style.css">
  <!-- Web App Manifest -->
  <link rel="manifest" href="/mobile/manifest.json">
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center" id="preloader">
  <div class="spinner-grow text-primary" role="status">
    <div class="sr-only">Loading...</div>
  </div>
</div>
<!-- Internet Connection Status -->
<!-- # This code for showing internet connection status -->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Header Area -->
<div class="header-area" id="headerArea">
  <div class="container">
    <!-- Header Content -->
    <div class="header-content position-relative d-flex align-items-center justify-content-between">
      <!-- Back Button -->
      <div class="back-button">
        <a href="#">

        </a>
      </div>
      <!-- Page Title -->
      <div class="page-heading">
        <h6 class="mb-0">Тавтай морилно уу</h6>
      </div>
      <!-- Settings -->
      <div class="setting-wrapper"><a class="setting-trigger-btn" id="settingTriggerBtn" href="#">
      </a></div>
    </div>
  </div>
</div>

<div class="page-content-wrapper">
  <!-- Hero Slides -->
  <div class="owl-carousel-one owl-carousel">
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-overlay" style="background-image: url('https://picjumbo.com/wp-content/uploads/flying-hearts-on-yellow-background-2210x1473.jpg')">
      <div class="slide-content h-100 d-flex align-items-center text-center">
        <div class="container">
          <h3 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms">BIG MALL</h3>
          <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms">BIG MALL- Үйлдвэрийн бөөний үнээр-Захиалгын бараа ✅✅✅.</p><a class="btn btn-creative btn-warning" href="https://www.facebook.com/groups/228007805310125/hashtags" target="_blank" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms">Бараа захиалах</a>
        </div>
      </div>
    </div>
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-overlay" style="background-image: url('https://picjumbo.com/wp-content/uploads/flying-hearts-on-yellow-background-2210x1473.jpg')">
      <div class="slide-content h-100 d-flex align-items-center text-center">
        <div class="container">
          <h3 class="text-white mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="500ms">9090-5448</h3>
          <p class="text-white mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="500ms">Бидэнтэй холбогдоорой</p><a class="btn btn-creative btn-warning" href="tel:90905448" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms">Залгах</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3"></div>
  <div class="container">
    <!-- User Information-->
    <div class="card user-info-card mb-3">
      <div class="card-body d-flex align-items-center">
        <div class="user-profile me-3"><img src="/mobile/img/bg-img/2.jpg" alt=""></div>
        <div class="user-info">
          <div class="d-flex align-items-center">
            <h5 class="mb-1"><%= @clients.phone_number %></h5><span class="badge bg-warning ms-2 rounded-pill">Захиалагч</span>
          </div>
          <p class="mb-0">Тавтай морилно уу</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3"></div>
  <div class="container">
    <div class="standard-tab">
      <ul class="nav mb-2 p-2" id="affanTabs1" role="tablist" style="background: white">
        <li class="nav-item" role="presentation">
          <button class="btn active" id="bootstrap-tab" data-bs-toggle="tab" data-bs-target="#products" type="button" role="tab" aria-controls="products" aria-selected="true">Барааны мэдээлэл</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn" id="pwa-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="orders" aria-selected="false">Шилжүүлгийн мэдээлэл</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn" id="pwa-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="orders" aria-selected="false">Хүргэлтийн захиалга</button>
        </li>
      </ul>
      <div class="pt-3"></div>
      <div class="tab-content" id="affanTabs1Content" style="border: none">
        <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
          <div class="container">
            <h4 class="mb-2">Хүргэлт баталгаажсанаас хойш 1-3 хоногт багтаан очно.</h4>
            <% @products.each.each_with_index do |product, counter| %>
              <div class="card timeline-card
                  <% if product.status == IS_WAITING %>
                    bg-warning
                  <% elsif product.status == IS_WILLING %>
                    bg-success
                  <% elsif product.status == IS_DELIVERY %>
                    bg-dark
                  <% elsif product.status == IS_FINISH %>
                    bg-info
                  <% elsif product.status == IS_CANCELED %>
                     bg-danger
                  <% end %>
                ">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="timeline-text mb-2">
                      <% if product.status == IS_WAITING %>
                        <span class="badge mb-2 rounded-pill">Хүлээгдэж байгаа</span>
                      <% elsif product.status == IS_WILLING %>
                        <span class="badge mb-2 rounded-pill">Бараа ирсэн байна</span>
                      <% elsif product.status == IS_DELIVERY %>
                        <span class="badge mb-2 rounded-pill">Хүргэлт баталгаажсан</span>
                        <p>Баталгаажсан огноо: <%= product.delivery_date.strftime('%Y-%m-%d') %>  </p>
                      <% elsif product.status == IS_FINISH %>
                        <span class="badge mb-2 rounded-pill">Хүлээлгэж өгсөн</span>
                      <% elsif product.status == IS_CANCELED %>
                        <span class="badge mb-2 rounded-pill">Цуцалсан</span>
                      <% end %>
                      <h6>
                        <% if product.status == IS_WILLING %>
                          <input id="<%= product.order_detail_id %>" class="input  ml-auto border" type="checkbox" checked name="order-detail" data-order="<%= product.order_detail_id %>">
                        <% end %>
                        <label for="<%= product.order_detail_id %>"><%= product.name %> (<%= product.quantity %>ш)</label></h6>
                    </div>
                    <div class="timeline-icon mb-2">
                      <svg class="bi bi-basket" width="28" height="28" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"></path>
                      </svg>
                    </div>
                  </div>
                  <p class="mb-2">Төлөх дүн: <%= number_to_currency(product.actual_price, unit: "₮ ", strip_insignificant_zeros: true) %> x <%= product.quantity %> = <%= number_to_currency(product.actual_price.to_i * product.quantity.to_i, unit: "₮ ", strip_insignificant_zeros: true) %></p>
                  <p class="mb-2">Карго: <%= number_to_currency(product.cargo_price * product.quantity.to_i, unit: "₮ ", strip_insignificant_zeros: true) %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="pt-3"></div>
          <div class="container">
            <div class="card">
              <div class="card-body">
                <p>Та бараагаа хүргүүлж авах бол ДҮҮРЭГ, ХОРОО гэрийн хаяг тодорхой бичээрэй.</p>
                <p>Анхааруулга: Та барааныхаа төлөвийг сайн хараарай. Ирсэн бараа л хүргэлтэнд гарна.</p>
                <form action="#" method="GET">
                  <div class="form-group">
                    <textarea class="form-control" id="delivery_address" name="address" cols="3" rows="5" placeholder="Гэрийн хаягаа энд бичнэ үү!"><%= @clients.address %></textarea>
                  </div>
                  <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center" type="button" id="create_delivery_btn">Хүргэлтийн захиалга үүсгэх
                    <svg class="bi bi-arrow-right-short" width="24" height="24" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                    </svg>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
          <div class="notification-area">
            <div class="container">
              <% @orders.each.each_with_index do |order, counter| %>
                <div class="alert unread custom-alert-3 alert-primary" role="alert">
                  <svg class="bi bi-check2-circle" width="24" height="24" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"></path>
                  </svg>
                  <div class="alert-text w-75">
                    <h6><%= order.account_number %> данснаас <%= number_to_currency(order.amount, unit: "₮", strip_insignificant_zeros: true) %> төгрөгийг <%= order.transition_date %> -д шилжүүлсэн</h6>
                    <span class="text-truncate">Гүйлгээний утга: <%= order.description %></span>
                    <span class="text-truncate">Бүртгэсэн огноо: <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="dark" role="tabpanel" aria-labelledby="dark-tab">
            <h6>Dark Mode</h6>
            <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
          <div class="notification-area">
            <div class="container">
              <% @deliveries.each.each_with_index do |delivery, counter| %>
                <div class="alert unread custom-alert-3 alert-primary" role="alert">
                  <i class="bi bi-truck"></i>
                  <div class="alert-text w-75">
                    <h6><%= delivery.address %></h6>
                    <span class="text-truncate">Хүсэлт илгээсэн огноо: <%= delivery.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
                    <span class="text-truncate">Утасны дугаар: <%= delivery.phone_number %></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-3"></div>
</div>
<!-- All JavaScript Files -->
<script src="/mobile/js/bootstrap.bundle.min.js"></script>
<script src="/mobile/js/jquery.min.js"></script>
<script src="/mobile/js/internet-status.js"></script>
<script src="/mobile/js/waypoints.min.js"></script>
<script src="/mobile/js/jquery.easing.min.js"></script>
<script src="/mobile/js/wow.min.js"></script>
<script src="/mobile/js/owl.carousel.min.js"></script>
<script src="/mobile/js/jquery.counterup.min.js"></script>
<script src="/mobile/js/jquery.countdown.min.js"></script>
<script src="/mobile/js/imagesloaded.pkgd.min.js"></script>
<script src="/mobile/js/isotope.pkgd.min.js"></script>
<script src="/mobile/js/jquery.magnific-popup.min.js"></script>
<script src="/mobile/js/dark-mode-switch.js"></script>
<script src="/mobile/js/ion.rangeSlider.min.js"></script>
<script src="/mobile/js/jquery.dataTables.min.js"></script>
<script src="/mobile/js/active.js"></script>
<!-- PWA -->
<script src="/mobile/js/pwa.js"></script>
<script>

    $("#create_delivery_btn").click(function () {
        var orderDetailIDs = [];
        $("input:checkbox[name='order-detail']").each(function(){
            orderDetailIDs.push($(this).data("order"))
        })
        var address = $("#delivery_address").val();
        var phone_number = "<%= @clients.phone_number %>"

        $.ajax({
            url: "/home/set_delivery_client",
            type: "POST",
            data: {
                orderDetailIDs: orderDetailIDs,
                phone_number: phone_number,
                address: address
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            success: function (data) {
                console.log('Хүргэлтийн захиалга амжилттай үүсгэлээ')
                location.reload();
            },
            error: function (data) {
            }
        });

    });
</script>
</body>
</html>