<div class="col-span-12 mt-6">
  <div class="intro-y block sm:flex items-center h-10">
    <h2 class="text-lg font-medium truncate mr-5">
      Захиалаад ирсэн бараа ба каргоны төлбөр
    </h2>
    <form action="<%= cargo_price_index_path %>" method="get" class="flex items-center sm:ml-auto mt-3 sm:mt-0">
      <div class="form-group">
        <input type="text" class="datepicker input w-full border flex-1 mr-5" name="start_date" placeholder="Эхлэх огноо" value="<%= @start_date %>" data-single-mode="true">
      </div>
      <div class="form-group">
        <input type="text" class="datepicker input w-full border flex-1 ml-3" name="end_date" placeholder="Дуусах огноо" value="<%= @end_date %>" data-single-mode="true">
      </div>
      <div class="form-group">
        <input type="text" class="input w-full border flex-1 ml-5" name="q" placeholder="Барааны нэр" value="<%= params[:q] %>">
      </div>
      <button type="submit" class="button box flex items-center text-gray-700 dark:text-gray-300 ml-3"><i data-feather="search" class="hidden sm:block w-4 h-4 mr-2"></i>Хайх</button>
      <button onclick="location.reload()" class="ml-3 button box flex items-center text-gray-700 dark:text-gray-300"> <i data-feather="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> хайлт цэвэрлэх </button>
    </form>
  </div>
  <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
    <table class="table table-report sm:mt-2">
      <thead style="
      position: sticky;
        top: 0;
        z-index: 99999999;
        background-color: #ee9b00;
      ">
      <tr>
        <th>ID</th>
        <th class="whitespace-nowrap">Бүтээгдэхүүн</th>
        <th class="text-center">Ирсэн тоо</th>
        <th class="text-center">Карго</th>
        <th class="text-center">Нийт</th>
        <th class="text-center">Хүлээлгэж өгсөн</th>
        <th class="text-center">Хүлээлгэж өгсөн төлбөр</th>
        <th class="text-center">Үлдэгдэл</th>
        <th class="text-center">Үлд/Төлбөр</th>
      </tr>

      </thead>
      <tbody>
      <tr>
        <td>-</td>
        <td class="whitespace-nowrap">-</td>
        <td class="text-center">-</td>
        <td class="text-center">-</td>
        <td class="text-center"><%= number_to_currency(@total, unit: "₮ ", strip_insignificant_zeros: true) %></td>
        <td class="text-center">-</td>
        <td class="text-center"><%= number_to_currency(@total_range, unit: "₮ ", strip_insignificant_zeros: true) %></td>
        <td class="text-center">-</td>
        <td class="text-center"><%= number_to_currency(@total_remainder, unit: "₮ ", strip_insignificant_zeros: true) %></td>
      </tr>
      <% @records_array.each do |product| %>

        <tr class="intro-x">
          <td><%= product[0] %></td>
          <td>
            <a href="" class="font-medium"><%= product[1] %></a>
          </td>
          <td class="text-center"><%= product[2] %></td>
          <td class="text-center"><%= number_to_currency(product[3], unit: "₮ ", strip_insignificant_zeros: true) %></td>
          <td class="text-center"><%= number_to_currency(product[4], unit: "₮ ", strip_insignificant_zeros: true) %></td>
          <td class="text-center"><%= product[5] %></td>
          <td class="text-center"><%= number_to_currency(product[6], unit: "₮ ", strip_insignificant_zeros: true) %></td>
          <td class="text-center"><%= product[7] %></td>
          <td class="text-center"><%= number_to_currency(product[7] * product[3], unit: "₮ ", strip_insignificant_zeros: true) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
